body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #1f3131);
  color: white;
  min-height: 100vh;
}

input#searchInput {
  background-color: #555;
  color: white;
  border: none;
}

input#searchInput::placeholder {
  color: #555;
}

.card {
  border: none;
  box-shadow: white;
}

.hour-block {
  min-width: 60px;
  flex: 0 0 auto;
  text-align: center;
}

.hour-block p {
  margin: 0;
}

#dailyForecast .col-12 {
  border-color: white;
  font-size: 1rem;
}

#temperature {
  font-size: 4rem;
  font-weight: bold;
}

#condition {
  font-size: 1.25rem;
  color: white;
}

#high-low {
  font-size: 0.9rem;
  color: white;
}

::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}
input#searchInput::placeholder {
  color: #ccc;
  opacity: 1;
}
#hourlyForecast {
  color: #ccc;
  font-weight: 100px;
}
#dailyForecast {
  color: #ccc;
  font-weight: 100px;
}

.weather-summary {
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.weather-summary p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #ccc;
  font-style: italic;
}

@media (max-width: 768px) {
  .weather-summary {
    padding: 0.75rem;
  }

  .weather-summary p {
    font-size: 0.9rem;
  }
}